//layout

.header-container {
  height: 5%;
}

.main-container {
  height: 95%;
}

.map-controls {
  height: 10%;
}

.map {
  height: 90%;
}

// helpers

.v-center {
  align-items: center;
  display: flex;
  height: 100%;
}

.full-height {
  height: 100%;
}

// ids

#mapid {
  height: 100%;
}
